@import 'breakpoint.css';

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #1d1d1d !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px !important;
}

.caption-item-title {
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  z-index: 5;
}

.vertical-line {
  border-left: 1px solid #332f2f;
}

.detail-movie:after {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  background: linear-gradient(180deg, rgb(23 23 23 / 63%) 60%, rgb(0 0 0) 170%);
}

.height-jumbotron {
  height: 480px;
}

.heading-title {
  font-size: 1.5rem;
}

.background-dark::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 40px !important;
  background: linear-gradient(
    180deg,
    rgb(84 84 84 / 40%) 60.5%,
    rgb(29, 29, 29) 170%
  );
}

/* custom bootstrap */
.mt-100 {
  margin-top: 100px;
}

.w-40 {
  width: 40% !important;
}

.carousel-indicators > li {
  width: 9px !important;
  height: 9px !important;
  background-clip: unset !important;
  border: none !important;
  border-radius: 50%;
}

.carousel-inner::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: linear-gradient(
    269.96deg,
    rgba(29, 29, 29, 45%) 0.5%,
    rgb(29, 29, 29) 120%
  );
}

.caption-jumbotron {
  top: 5%;
  left: 5%;
  margin: 0;
  z-index: 5;
  font-size: 13px;
}

.btn-outline-trailer {
  color: #ffffff !important;
  border-color: #880db9 !important;
  padding: 12px 32px !important;
  border-radius: 40px !important;
}

.btn-outline-trailer:hover {
  border-color: #650c88 !important;
}

/* custom swiper css */
.swiper-container {
  width: 100%;
}

.button-prev,
.button-next {
  min-width: 44px;
  min-height: 44px;
  font-size: 2.1rem;
  color: #cacaca;
  line-height: 44px !important;
  cursor: pointer;
}

.button-prev:hover,
.button-next:hover {
  color: #acacac;
}

.swiper-button-disabled {
  color: #6c757d !important;
  cursor: default !important;
}

.swiper-slide-list {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide-list img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px !important;
}

.swiper-slide-header {
  background-position: center;
  background-size: cover;
}

.swiper-slide-header img {
  display: block;
  width: 100%;
}

.swiper-slide-header::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgb(23 23 23 / 63%) 60%, rgb(0 0 0) 170%);
}
